*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(250, 255, 0);
}
h1{
    margin: 10px;
    text-align: center;
    color: red;
    font-size: bold ;
    font: italic;
}
img{
    width: 500%;
    border-radius: 30px;
    

}
ul{
    padding-left: 0px;
    margin-top: 10px;
    margin-left: 10px;
    list-style: none;
    width: 100%;
    margin: 0 auto;
    text-align: center;
   
    

}
ul li{
    margin-left: 62px;
    margin-right: 55px;
    display: inline-block;
    width: 100px;
    height: 20px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
   
}
ul li a{
    text-decoration: none;
    color: rgb(255,0,0);
}
ul li a:hover{
    color: blue;
}
ul li a::before{
    content: "[";
    margin-right: 5px;
    opacity: 0;
    transition: all 0.5s;
}
ul li a::after{
    content: "]";
    margin-left: 5px;
    opacity: 0;
    transition: all 0.5s;
}
ul li a:hover:before{
    opacity: 1;
    margin-right: 10px
}
ul li a:hover:after{
    opacity: 1;
    margin-left: 10px;
}

